body{
    background:#111;
    color:white;
    font-family:Arial;
    margin:0;
}

header{
    background:black;
    padding:20px;
    text-align:center;
}

h1{
    color:gold;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
}

.hero{
    text-align:center;
    padding:100px 20px;
}

.hero h2{
    color:gold;
    font-size:40px;
}

button{
    background:gold;
    color:black;
    border:none;
    padding:15px 30px;
    border-radius:10px;
    font-size:18px;
}

.features{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:50px;
}

.card{
    background:#222;
    width:250px;
    padding:20px;
    border-radius:15px;
    text-align:center;
}
footer{
    background:black;
    text-align:center;
    padding:20px;
    margin-top:50px;
}
input{
    padding:12px;
    width:250px;
    border-radius:8px;
    border:none;
}